<!-- templates/mailer/home.html -->
{% extends "mailer/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron bg-dark text-white">
    <h1 class="display-4">Welcome to the Mailer App!</h1>
    <p class="lead">Send and track your emails with ease.</p>
    <hr class="my-4">
    <p>Get started by sending an email or checking your email analytics.</p>
    <a class="btn btn-success btn-lg" href="{% url 'send_email' %}" role="button">Send Email</a>
    <a class="btn btn-secondary btn-lg" href="{% url 'email_analytics' %}" role="button">Email Analytics</a>
</div>
{% endblock %}